@model pcg.Models.AdminModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <div>
        <h1 class="display-4">@Model.Stringa</h1>
    </div>
    <div>
        <h1 class="display-4">@Model.Stringb</h1>
    </div>
    <div>
        <h1 class="display-4">@Model.Stringc</h1>
    </div>
</div>
