@model pcg.Models.SitesAdmin

@{
    ViewData["Title"] = "Sites";
} 
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<div>
<h1 style="text-align:center">Sites</h1>
<a asp-controller="Admin" asp-action="AddSite" class="btn btn-primary btn-block">Add Site</a>
</div>
<table class="table table-hover table-responsive-sm table-sm">
    <thead>
        <tr>
            <th class="text-center text-uppercase">Client</th>
            <th class="text-center text-uppercase">Site</th>
            <th class="text-center text-uppercase">OM</th>
            <th class="text-center text-uppercase">Details</th>
        </tr>
    </thead>
    <tbody id="myTable">
        @foreach (System.Data.DataRow dr in ViewBag.Sitelist.Rows)
        {
        <tr class="row-click" onclick="toggleRows(this)">
            <td class="text-center text-nowrap">@dr["Client"].ToString()</td>
            <td class="text-center text-nowrap">@dr["Site"].ToString()</td>
            <td class="text-center text-nowrap">@dr["Name"].ToString()</td>
            <td class="text-center text-nowrap">         
                <div style="text-align:center">
                    <a href="@Url.Action("TaskDetail", "Admin", new { siteId = dr["SiteId"] })">Task Details</a>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>
