<div class="container mt-4">

    <div class="row">
        <div class="col-md-4">
            <div class="card shadow-lg mt-3">
                <!-- Added mt-3 for margin-top -->
                <div class="card-body">
                    <h5 class="card-title text-center">Newest Task</h5>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Task no.</th>
                                <td>1</td>
                            </tr>
                            <tr>
                                <th>Task</th>
                                <td>Snipe</td>
                            </tr>
                            <tr>
                                <th>Remarks</th>
                                <td>Remarks for Task 1</td>
                            </tr>
                            <tr>
                                <th>Description</th>
                                <td>Tulog si james gar</td>
                            </tr>
                            <tr>
                                <th>Assignee</th>
                                <td>It ravs</td>
                            </tr>
                            <tr>
                                <th>Client/site</th>
                                <td>Ravs</td>
                            </tr>
                            <tr>
                                <th>Date</th>
                                <td>2024-03-17</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card shadow-lg mt-3">
                <!-- Added mt-3 for margin-top -->
                <div class="card-body">
                    <h5 class="card-title text-center">Recent Forwaded Task</h5>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Task no.</th>
                                <td>2</td>
                            </tr>
                            <tr>
                                <th>Task</th>
                                <td>Task 1</td>
                            </tr>
                            <tr>
                                <th>Remarks</th>
                                <td>No Remarks</td>
                            </tr>
                            <tr>
                                <th>Description</th>
                                <td>Testing Gar.</td>
                            </tr>
                            <tr>
                                <th>Assignee</th>
                                <td>Me</td>
                            </tr>
                            <tr>
                                <th>Client/site</th>
                                <td>BUrs</td>
                            </tr>
                            <tr>
                                <th>Date</th>
                                <td>2024-03-17</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow-lg mt-3">
                <!-- Added mt-3 for margin-top -->
                <!-- Add shadow-lg class to specify a larger shadow -->
                <div class="card-body">
                    <h5 class="card-title text-center">Recent Approved Task</h5>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Task no.</th>
                                <td>3</td>
                            </tr>
                            <tr>
                                <th>Task</th>
                                <td>Task 1</td>
                            </tr>
                            <tr>
                                <th>Remarks</th>
                                <td>No Remarks</td>
                            </tr>
                            <tr>
                                <th>Description</th>
                                <td>Test lng ulit Gar</td>
                            </tr>
                            <tr>
                                <th>Assignee</th>
                                <td>Cardo</td>
                            </tr>
                            <tr>
                                <th>Client/site</th>
                                <td>Secret</td>
                            </tr>
                            <tr>
                                <th>Date</th>
                                <td>2024-03-17</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>
