@model pcg.Models.VariationModel

@{
    ViewData["Title"] = "Task Detail";
}

<h1 style="text-align:center">Task Details</h1>
<table class="table table-hover table-responsive-sm table-sm">
    <thead>
        <tr>
            <th class="text-center text-uppercase">Task No.</th>
            <th class="text-center text-uppercase">Task</th>
            <th class="text-center text-uppercase">Remarks</th> 
            <th class="text-center text-uppercase">Description</th>
            <th class="text-center text-uppercase">Added By</th>
            <th class="text-center text-uppercase">Date Forwarded</th>
            <th class="text-center text-uppercase">Date Received</th>
            <th class="text-center text-uppercase">Assigned To</th>
            <th class="text-center text-uppercase">Status</th>
        </tr>
    </thead>
    <tbody id="myTable">
            <tr>
                <td class="text-center text-nowrap">eeeeeeeyyhhh</td>
                <td class="text-center text-nowrap">bbbhhhhiiiieeyyy</td>
                <td class="text-center text-nowrap">cccssssszzziii</td>
                <td class="text-center text-nowrap">ddddeeeeeeiiihh</td>
                <td class="text-center text-nowrap">iiiiiiiyyyy</td>
                <td class="text-center text-nowrap">eeeeeeeffffff</td>
                <td class="text-center text-nowrap">dzjiey</td>
                <td class="text-center text-nowrap">eeeeyyyhhhtttch</td>
                <td class="text-center text-nowrap">aaaaaeeeeeiii</td>
            </tr>

    </tbody>
</table>